.button{
  position: absolute;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  padding: 8px 25px;

}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


#home{
  position: relative;
  width: 100%;
  height: 400px;
  top:0px;
  z-index: 1;
  background-color:rgb(239, 156, 131);
}
#people{
  width: 390px;
  height: 365px;
  position: absolute;
  bottom: 20px;
  right: 170px;
  z-index: 1;
  animation: rotation 14s infinite linear;
}
@keyframes rotation {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(359deg);
  }
}
#people2{
  color: black;
  position: absolute;
  top:80px;
  left: 190px;
  z-index: 1;
  font-family:bradley hand ITC;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000000c7;
}
#bb{
  left: 550px;
  top: 290px;
  background-color:none;
  border: 2px solid black;
  color: black;
}
#linkme{
  color: black;
  position: absolute;
  top:660px;
  left: 35%;
   text-align:center;
  z-index: 1;
  font-family:Segoe UI;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000000c7;
}
#tree{
  position: absolute;
  width: 770px;
  height: 340px;
  left: 150px;
  top: 830px;
  background-color:#a7d1d4 ;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2), 0 7px 30px 0 rgba(0, 0, 0, 0.19);
}
#BigTree{
  width: 280px;
  height: 230px;
  position: absolute;
  bottom: 150px; 
  left: 85px;
  z-index: 1; 
}
#TreeText{
  color: black;
  position: absolute;
  z-index: 1;
  font-size: 19px;
  font-family:Segoe UI;
  font-weight: bold;
  left: 390px;
  top: 135px;
  /* direction: rtl !important; */
  text-align: right;
}
#ilan{
  color: black;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  font-family:Segoe UI;
  font-weight: bold;
  left: 772px;
  top: 40px;
}
#yuhasin{
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  font-family:Segoe UI;
  font-weight: bold;
  left: 655px;
  top: 40px;
}
#b1{
  
  left: 800px;
  top: 200px;
  background-color: #a7d1d4;
  border: 2px solid #a7d1d4;
  color: white;
} 
#b1:hover{
  background-color: white;
  color:#a7d1d4;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}
#calander{
  position: absolute;
  width: 770px;
  height: 340px;
  right: 150px;
  top: 1220px;
  background-color:#ef9c83 ; 
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2), 0 7px 30px 0 rgba(0, 0, 0, 0.19);
}
#CalendarPic{
  width: 400px;
  height: 350px;
  position: absolute;
  top: 65px; 
  right:120px;
  z-index: 1; 
}
#luch{
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  font-family:Segoe UI;
  font-weight: bold;
  right: 700px;
  top: 40px;
}
#event{
  color: black;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  font-family:Segoe UI;
  font-weight: bold;
  right: 780px;
  top: 40px;
}
#CalendarText{
  color: #ef9c83;
  position: absolute;
  z-index: 1;
  font-size: 19px;
  font-family:Segoe UI;
  font-weight: bold;
  left: -220px;
  top: 135px;
  /* direction: ltr; */
  text-align: right;
}
#b2{
  left: 60px ;
  top: 190px;
  background-color:white;
  border: 2px solid white;
  color: #ef9c83;
} 
#b2:hover{
  background-color: #ef9c83;
  color:white;
  font-weight: bold;
}
#Gallery{
  position: absolute;
  width: 770px;
  height: 340px;
  left: 150px;
  top: 1680px;
  background-color:#aaaeba ;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2), 0 7px 30px 0 rgba(0, 0, 0, 0.19);
}
#GalleryPic{
  width: 380px;
  height: 380px;
  position: absolute;
  bottom: 0px; 
  left: 85px;
  z-index: 1; 
}
#GalleryText{
  color: black;
  position: absolute;
  z-index: 1;
  font-size: 19px;
  font-family:Segoe UI;
  font-weight: bold;
  left: 420px;
  top: 135px;
  /* direction: ltr; */
  text-align: right;
}
#gal{
  color: black;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  font-family:Segoe UI;
  font-weight: bold;
  left: 772px;
  top: 40px;
}
#ery{
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  font-family:Segoe UI;
  font-weight: bold;
  left: 706px;
  top: 40px;
}
#b3{
  left: 800px;
  top: 200px;
  background-color: #aaaeba;
  border: 2px solid #aaaeba;
  color: white;
} 
#b3:hover{
  background-color: white;
  color:#aaaeba;
  font-weight: bold;
}
#pink{
  position: absolute;
  width: 582px !important;
  height: 250px !important;
  right:50px;
  top: 2090px !important;
  background-color: #F4C0AF !important;
}
#pinkPic{
  position: absolute;
  width: 140px;
  height: 110px;
  right:100px;
  top: 60px;
}
#pinkP{
  color: black;
  position: absolute;
  z-index: 1;
  font-size: 15px;
  font-family:Segoe UI;
  font-weight: bold;
  right:220px;
  top: 80px;
  direction: rtl !important;
}
#b4{
  position: absolute;
  z-index: 1;
  right:250px;
  top: 130px;
  background-color: #F4C0AF;
  border: 2px solid black;
  color: black;
  text-align: center;
  text-decoration: #F4C0AF;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  padding: 8px 25px;
}
#b4:hover{
  font-weight: bold;
}
#black{
  position: absolute;
  width: 582px;
  height: 250px;
  left: 50px;
  top: 2090px;
  background-color: #000000c7;
}
#blackP{
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 13px;
  font-family:Segoe UI;
  font-weight: bold;
  left:220px; 
  top: 60px;
  text-align: center;
  direction: rtl !important;
}
#b5{
  position: absolute;
  z-index: 1;
  left:240px;
  top: 130px;
  background-color:rgba(0, 0, 0, 0.315) !important;
  border: 2px solid #F4C0AF;
  color: #F4C0AF;
  text-align: center;
  text-decoration: #F4C0AF;
  display: inline-block;
  font-size: 11px;
  margin: 4px  2px;
  cursor: pointer;
  border-radius: 30px;
  padding: 8px 25px;
}
#b5:hover{
  font-weight: bold;

}
#phone{
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
  left:132px;
  top: 200px;
}
#l1{
  color: white;
  position: absolute;
  z-index: 1;
  left:164px;
  top: 205px;
  font-size: 11px;
}
#mail{
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
  left:285px;
  top: 200px;
}
#l2{
  color: white;
  position: absolute;
  z-index: 1;
  left:315px;
  top: 205px;
  font-size: 11px;
}
#end{
  position: absolute;
  top: 2370px;
  font-size: 15px;
  text-align: center;
  left: 500px;

}