.NavigationItem {

  box-sizing: border-box;
  display: block;
 width: 100%;
}

.NavigationItem a {
  color: #d48c8c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;

}


@media (min-width: 500px) {
  .NavigationItem {
    margin-top: 17px;
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
     
  }
} 
.NavigationItem a {
      color: white;
      height: 100%;
      
  }
.NavigationItem a:hover{
  background-color: white;
  background-size: 300px 100px;
  color: #d48c8c;
 text-decoration: none;
 border-radius: 20px;
 padding: 20px;
 text-align: center;
 cursor: pointer;
}