.NavigationItems {
  padding-bottom: 35px;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  font-style: unset;
  font-family:'Segoe UI Semibold'; 
  margin-left: 470px;
  font-weight: bold;
  margin-top: 80px;
  z-index: 1;
}

@media (min-width: 500px){
  .NavigationItems{
    flex-flow: row; 
  }
}
