.NavigationItems{
  margin:0;
  padding:0; 
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  font-style: unset;
  font-family:'Segoe UI Semibold'; 
  margin-left: 470px;
  font-weight: bold;
  margin-top: 8px;
}

@media (min-width: 500px){
    .NavigationItems{
        flex-flow: row; 
      }
}
