#div {
  background-color: green;
  width: 100px;
  height: 100px;
}

#con {
  background-color: pink;
  width: 250px;
  height: 200px;
}

.male {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  background-color: lightblue;
  border-radius: 15px;
  padding-top: 15px;
  text-align: center;
}

.female {
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 45px;
  top: -5px;
  text-align: center;
}